/**
 * Table of Contents
 *
 * 
 * Generic.......basic layout design
 *
 * -Components-
 *
 * Heading............The header title of the list
 *
 * Input-Area............input textbox to add items
 *
 * Shopping-List..............shopping list and it's items
 *
 * 
 */

/*------------------------------------*\
    #Generic
\*------------------------------------*/

body {
    background-color: #009BA3;//#54585A;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.center {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
/*------------------------------------*\
    #Heading
\*------------------------------------*/

div.heading {
    text-align: center;
    background-color: #02BAFF;
    line-height: 3;
}
div.heading > h1 {
    font-size: larger;
}
/*------------------------------------*\
    #Input-Area
\*------------------------------------*/

input.item-input {
    width: 85%;
    min-height: 15px;
    text-align: center;
    position: absolute;
    top: 59px;
    height: 2em;
    left: 2px;
    padding: 0;
}
textarea:focus, input:focus {
    outline: 0;
}
div.add-item-container {
    background-color: azure;
    width: 100%;
    height: 2em;
}
img.plus-icon {
    float: right;
    height: 30px;
}
/*------------------------------------*\
    #SHOPPING-LIST
\*------------------------------------*/

#shoppingList {
    height: 2em;
}
.item {
    position: relative;
    text-align: center;
    line-height: 3;
    background-color: #DEE9FF;
    width: 100%;
}
.item.strike-through {
    text-decoration: line-through;
}
li.item + li.item {
    border-top: 1px dotted black;
}
.item > a.item-close {
    display: inline-block;
    float: right;
    padding-right: 10px;
    color: red;
}
.item-disabled {
    text-shadow: 0 0 0 #000;
    color: transparent;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
